body {
    background: #f7f3f3;
    font-family: Arial;
}
body p {
    font-size: 16px;
    color: #000;
}
h1 {
    color: #531759;
    font-size: 41px;
    border-bottom: 2px solid #531759;
    margin-bottom: 40px;
    display: inline-block;
}
.row {
    width: 980px;
    margin: 30px auto;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
nav ul li:nth-child(1) {
    margin-left: 0;
}
nav ul li a {
    color: #531759;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: center;
}

form div {
    margin-bottom: 20px;
}
form div label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
form .inp input {
    border: 1px solid #531759;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    background: transparent;
    outline: none;
}
form .inp input:focus {
    border: 1px solid #712D67;
}
form .inp textarea {
    border: 1px solid #000;
    width: 250px;
    height: 60px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    background: #faffbd;
}
form .check {
    display: flex;
}
form .check label {
    display: inline;
    margin-right: 5px;
}

.form_create .form_create-block .inp {
    display: inline-block;
}

.form_create .form_create-block2 .inp {
    display: inline-block;
}
.form_create .form_create-block2 .inp input {
    width: 346px;
}

form button,
.button {
    padding: 8px 30px;
    border: 1px solid #000;
    background: #531759;
    color: #E9E9E2;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.button-u {
    padding: 2px 30px;
    border: 1px solid #000;
    background: #712D67;
    color: #E9E9E2;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.button-e {
    padding: 10px 30px;
    border: 1px solid #000;
    background: #A55093;
    color: #E9E9E2;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.button-c {
    padding: 8px 30px;
    border: 1px solid #000;
    background: #531759;
    color: #E9E9E2;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.inp select {
    border: 1px solid #000;
    width: 85px;
    height: 34px;
    padding-left: 10px;
    font-size: 14px;
    background: transparent;
}

.news_card-title {
    font-size: 30px;
    color: #531759;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}
.news_card-title:hover {
    opacity: 0.8;
}

.sourсe-name {
    font-size: 26px;
    margin: 20px 0;
    color: #531759;
    opacity: 0.7;
}
.news_card p {
    font-size: 16px;
}
.news_card figure {
    margin: 20px 0;
}

.news_card {
    margin-bottom: 40px;
    border-bottom: 2px solid #531759;
    padding-bottom: 20px;
}

.news_card a {
    color: #531759;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    padding-left: 0;
}

tr:nth-child(even) {background-color: #f2f2f2;}
table td a {
    color: #531759;
}

.table-sources td:nth-child(1) {
    font-weight: bold;
}
.table-sources td {
    vertical-align: middle;
    border-bottom: 1px solid #531759;
}






